{% extends "index.html" %}

{% block h1 %}Сайты:{% endblock %}

{% block content %}
<style>
    .custom-link {
        color: #f5f5f5; /* Ваш цвет */
        text-decoration: none; /* Убираем подчеркивание (если нужно) */
    }
    .custom-link:hover {
        color: #00aaff; /* Цвет при наведении (если нужно) */
    }
    </style>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-dark text-nowrap" data-test="urls"> <!-- добавил table-dark -->
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Имя</th>
                </tr>
            </thead>
            <tbody>
                {% if urls %}
                    {% for url in urls %}
                        <tr>
                            <td>
                                <a>{{ url['id'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url_for('one_url', url_id=url['id']) }}" style="text-decoration: none" class="custom-link">{{ url['name'] }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}